<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Recommendation System</h1>
        
        <div id="user-section">
            <h3>Are you a returning user?</h3>
            <button id="new-user">New User</button>
            <button id="existing-user">Existing User</button>
        </div>

        <!-- New User Section -->
        <div id="new-user-section" style="display: none;">
            <h3>Your User ID:</h3>
            <p id="generatedUserId"></p>
            <button id="copy-user-id">Copy User ID</button>
            <button id="proceed-new-user">Proceed</button>
        </div>

        <!-- Existing User Section -->
        <div id="existing-user-section" style="display: none;">
            <label for="existingUserId">Enter Your User ID:</label>
            <input type="text" id="existingUserId" placeholder="Enter your User ID">
            <button id="fetch-history">Fetch Recommendations</button>
        </div>

        <!-- Recommendations Section -->
        <div id="recommendations"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
